*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'inter';
    src: url(../fuentes/Inter/Inter-VariableFont_opsz,wght.ttf);
    font-display: swap;
}
body{
    font-family: 'inter', sans-serif;
}
header h1{
    font-size: 2.5rem;
}

header p{
    line-height: 2;
}

p{
    font-size: 1.2rem;
}
.cabecera{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.cabecera a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.cabecera-nombre{
    margin-left: 10%;
    font-size: 2.5rem;
}

nav{
    margin-right: 10%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

header{
    text-align: center;
    padding: 20px;
}


footer{
    background-color: white;
    text-align: center;
    margin-top: 40px;
}

footer div{
    margin-inline:30%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


footer p{
    font-size: 0.8rem;
}



.contenedor-columnas{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
}



.actividades__css, .actividades__html{
    border-radius: 15px;
    padding: 10px;
    background-color: #e0e0e0;
    width: 45%;
    padding: 30px;
    max-width: 500px;

}

.actividades__css a, .actividades__html a{
    text-decoration: none;
    color: black;
}

.actividades__css ul, .actividades__html ul{
    display: flex;
    flex-direction: column;
}
.actividades__css li, .actividades__html li{
    list-style: none;
    text-align: center;
}

.actividades__css a:hover, .actividades__html a:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.actividades__css h1, .actividades__html h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
}

.actividades__css h2, .actividades__html h2{
    font-size: 1.2rem;
    margin-block: 25px 10px;
    text-align: center;
}










