*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 10px;
    background-color: #e0e0e0;
}
.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px black;
    padding: 20px;
}

.cabecera a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

